@{
    ViewData["Title"] = "Home Page";
}

<h2>Elasticsearch Web App Test</h2>

<div>
    <ul>
        <li>
            <a asp-controller="Search" asp-action="Index">Search Page</a>
        </li>
        <li>
            <a asp-controller="Search" asp-action="ListAll">List All Data</a>
        </li>
        <li>
            <a asp-controller="Search" asp-action="FacetSearch">Facet Search</a>
        </li>
        <li>
            <a asp-controller="Search" asp-action="FacetSearchQueryOld" asp-route-queryString="news,test,personal-sub1">Facet Search Query</a>
        </li>
        <li>
            <a asp-controller="Search" asp-action="Filters">Filters</a>
        </li>
        <li>
            <a asp-controller="Search" asp-action="Suggestions" asp-route-queryString="CO">Suggestions</a>
        </li>
        <li>
            <a asp-controller="Search" asp-action="SeedData">Seed Data</a>
        </li>
        <li>
            <a asp-controller="Search" asp-action="DeleteData">Delete Data</a>
        </li>
    </ul>
</div>
